%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title Баскетбол
    %link{href: "./style.css", rel: "stylesheet"}/
  %body
    .basket
      .page1-basket
        .evro-basket
          %h1 Баскетбол лучший вид спорта
          .basket-teams
            %a{href: ""} ЦСКА
            %a{href: ""} ЗЕНИТ
            %a{href: ""} УНИКС
            %a{href: ""} Локомотив кубань
            %a{href: ""} МБА
          %button.basket-buttom выбрать
      .basket2
        %img.basket-teams2{alt: "", src: "https://i.pinimg.com/originals/8b/d4/89/8bd489d30e67dcdea14190448129ccab.jpg"}/
        .basket-teams2
          %h1 NBA
          %ul
            %li ДАЛЛАС МАВЕРИКС
            %li ЛОС-АНДЖЕЛЕС ЛЕЙКЕРС
            %li ЛОС-АНДЖЕЛЕС КЛИППЕРС